{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
  <title>Horny people near you!</title>
{% endblock %}

{% block styles_to_load %}
<link rel="stylesheet" href="{% static 'styles/sh_theme_colors.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'styles/master.css' %}" type="text/css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
{% endblock %}

<!-- Menu bar's basic content. Buttons may be added or removed
depending on the state. -->
{% block menubarcontent %}
<div class="menu-bar">

  <!-- Main functionality buttons -->
  <div id="menu-bar-main-func-btns" v-show="show_main_functionality">
    <!-- Menu button -->
    <button type="button" id="menu-bar-menu-icon" v-on:click="onMenuIconPressed">
      <i class="material-icons">menu</i>
    </button>
    <button type="button" id="menu-bar-left-btn" v-on:click="onMainLeftPressed">[[main_left_sect_title]]</button>
    <button type="button" id="menu-bar-middle-btn" v-on:click="onMainMiddlePressed">[[main_middle_sect_title]]</button>
    <button type="button" id="menu-bar-rigth-btn" v-on:click="onMainRightPressed">[[main_right_sect_title]]</button>
    <!-- Profile/login/settings button -->
    <button type="button" id="menu-bar-profile-icon">
      <i class="material-icons">settings</i>
    </button>
  </div>

  <!-- Secondary functionality buttons. Shown if title is set. -->
  <div id="menu-bar-sec-func-btns" v-show="!show_main_functionality">
    <button type="button" id="menu-bar-back-icon" v-on:click="onMenuIconPressed">
      <i class="material-icons">arrow_back</i>
    </button>
    <button type="button" id="sec-menu-bar-left-btn" v-show="sec_left_sect_title!==''" v-on:click="onSecLeftPressed">[[sec_left_sect_title]]</button>
    <button type="button" id="sec-menu-bar-middle-btn" v-show="sec_middle_sect_title!==''" v-on:click="onSecMiddlePressed">[[sec_middle_sect_title]]</button>
    <button type="button" id="sec-menu-bar-rigth-btn" v-show="sec_right_sect_title!==''" v-on:click="onSecRightPressed">[[sec_right_sect_title]]</button>
    <!-- Info button -->
    <button type="button" id="menu-bar-profile-icon">
      <i class="material-icons">info</i>
    </button>
  </div>
</div>
{% endblock %}


<!-- Contains main functionality. Each state modifies this section.
     Initial state is user's available game list and game creator. -->
{% block appcontainer %}
<div id="app-container">
  <div v-show="show_lcont.value">
    {% include "characters.html" %}
  </div>
  <div v-show="show_mcont.value">
    {% include "story.html" %}
  </div>
  <div v-show="show_rcont.value">
    {% include "notes.html" %}
  </div>
</div>
{% endblock %}


<!-- Static footer for version info etc. -->
{% block footer %}
<div class="static-footer">
  <p>Tabletop helper version 0.0.1. Backend <i> Django 2.1 </i> </p>
</div>
{% endblock %}


{% block scripts_to_load %}
<script src="{% static 'js/jquery-3.3.1.js' %}"></script>
<script src="{% static 'js/jsoneditor.js' %}"></script>
<script src="{% static 'scripts/common/campaign_lobby_menu_bar.js' %}"></script>
<script src="{% static 'scripts/common/parse_json.js' %}"></script>
<script src="{% static 'js/jquery-3.3.1.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
{% endblock %}
