<!-- Continue on-going game or.. -->
<div class="basic-list-view" id="main-continue-game">
  <h2>Your campaigns</h2>
  {% if mycampaigns %}
    <ul>
      {% for campaign in mycampaigns %}
      {# <li> <a href="continue_campaign/"+{{campain.name}}/>{{campaign.name}}</a> </li> #}

      <li> <a href="{% url 'tth:continue_campaign' campaign.name %}"/>{{campaign.name}}</a> </li>
    {% endfor %}
  </ul>
  {% else %}
  <i>You are not currently in any campaign. Join or create one!</i>
  {% endif %}
</div>
