<!DOCTYPE html>
<!--
Main HTML is the home for the application after successful login.

  -->
<html>
  <head>
    <meta charset="utf-8">
    <title> Horny people near you! </title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles/sh_theme_colors.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'styles/master.css' %}" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="{% static 'js/jquery-3.3.1.js' %}"></script>
    <script src="{% static 'js/jsoneditor.js' %}"></script>
    <script src="{% static 'scripts/main.js' %}"></script>
    <script src="{% static 'scripts/common/main_menu.js' %}"></script>
    <script src="{% static 'scripts/common/parse_json.js' %}"></script>
    <!-- <script src="scripts/sh/contacts.js"></script> -->
  </head>

  <body>

    <!-- Upper menu's basic content. Buttons may be added or removed
    depending on the state. -->
    {% block menubar %}
    <!-- This div works as a fallback and a reminder of basic upper -->
    <div class="upper-menu">
    <p> <i>fallback value, error in templates</i> </p>
    </div>
    {% endblock %}

      <button type="button" id="upper-menu-menu-icon">
        <i class="material-icons">menu</i>
      </button>
      <button type="button" id="upper-menu-home-btn">CREATE</button>
      <button type="button" id="upper-menu-character-btn">CHARACTER</button>
      <button type="button" id="upper-menu-contacts-btn">CONTACTS</button>

    <!-- Contains main functionality. Each state modifies this section.
         Initial state is user's available game list and game creator. -->
    <div id="app-container">

      <div class="home">
          Application meant for players and gamemasters of Shadowrun tabletop.
          <br>Work in progress, but desired features are as follows:
      </div>

      <hr>

      <!-- Continue on-going game or.. -->
      <div class="basic-list-view" id="main-continue-game">
        <p>Continue on-going game</p>

      </div>

      <hr>

      <!-- ..join game or.. -->
      <div class="basic-list-view" id="main-join-game">
        <h2>Join game</h2>
        {% if campaigns %}
          <ul>
          {% for campaign in campaigns %}
            <li> <a href="campaign/{{campain.name}}">{{campaign.name}}</a> </li>
          {% endfor %}
        </ul>
        {% endif %}
      </div>

      <hr>

      <!-- ..create a new game! -->
      <div class="create-campaign" id="main-create-campaign">
        <p>Create a new game</p>
        <form action="create_campaign" method="post">
          {% csrf_token %}
          <p>
            Campaign name. Players will find your campaign using this.
            <input type="text" name="new-camp-name" placeholder="Campaign name" required>
          </p>
          <p>
            Campaign password. Player will be able to join with this.
            <input type="password" name="new-camp-pw" placeholder="Campaign password" required>
          </p>
          <p>
            Confirm campaign password.
            <input type="password" name="new-camp-confpw" placeholder="Confirm password" required>
          </p>
          <p>
            Gamemaster password. Used for joining as gamemaster. You will be automatically added as a gamemaster so forgetting this doesn't prevent you from playing.
            <input type="password" name="new-camp-gmpw" placeholder="Gamemaster password" required>
          </p>
          <p>
            Confirm the gamemaster password.
            <input type="password" name="new-camp-gmcpw" placeholder="Confirm gamemaster password" required>
          </p>
          <p>
            Give (optional) short description of the campaign.
            <input type="text" name="new-camp-sdesc" placeholder="Description">
          </p>

        </form>
      </div>

      <hr>

      <div class="character">
        <h2 id="character-header">Character info comes here:</h2>
        <div id="character-main-secs">
          <!-- character.js adds stuff here -->
        </div>
      </div>

      <div class="contacts">
        <h2 id="contacts-header">Contacts</h2>
        <ul id="contacts-ulist">
          <!-- contacts.js adds stuff here -->
        </ul>
      </div>

    </div>


    <!-- Static footer for version info etc. -->
    <div class="static-footer">
      <p>Tabletop helper version 0.0.1. Backend <i> Django 2.1 </i> </p>
    </div>
  </body>

</html>
