/*
'Number 3', blueish palette, Digital synopsis
#2a4d69
#4b86b4
#adcbe3
#e7eff6
#63ace5
*/
:root {
  --main-bg-color: #adcbe3;
  --main-body-color: #2a4d69;
  --main-body-border-attr: 1px solid #4b86b4;

  --main-upper-menu-color: #000000;
  --main-upper-menu-btn-color: #000000;
  --main-upper-menu-btn-hover-color: #ffffff;

  --main-button-color: #adcbe3;
  --main-button-hover-color: #e7eff6;
  --common-text-shadow-attr: 0px 0px 1px #63ace5;
  --common-font-size: 20px;
  --common--button-font-size: 22px;
}

/*
Inspiration and tips taken from
http://coderchronicles.org/2016/04/12/create-a-full-screen-layout-for-mobile-web-apps/
*/

/* Box layout model*/
html, body {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html {
  height: 100%;
  width: 100%;
  background-color: var(--main-bg-color);
}

body {
  font-size: var(--common-font-size);

  /* For pagers that might scroll */
  min-height: 100%;

  /* No unwanted scroll bars */
  margin: 0;
  padding: 0;

  /* Background should only be visible in larger screen devices (desktop etc.)
  and since body is as wide as html, is should be handled as (seen from visual
  perspective) html element */
  background-color: var(--main-bg-color);
}

#app-container {
  /* Block height is viewport height units -> screen height shown even if
  block doesn't contain that much material */
  min-height: 100vh;

  /* Center this block for larger screen devices (desktop etc.) */
  margin: 0 auto;

  /* For small windows */
  max-width: 31em;

  /* To prevent crushing when resizing to (too) small */
  min-width: 20em;

  padding: 1em;

  /* Top padding added so that fixed header won't cover stuff. Should be atleast
  as much as 'upper-menu's height */
  padding-top: 4em;

  /* As html and body element are same size, 'app-container' should be seen (from
  visual perspective) as 'the' body */
  background-color: var(--main-body-color);
}

/* Common text properties*/
h1, h2, h3, h4, h5, h6, p, li {
  font-kerning: auto;
  color: #e7eff6;
  font-size: 20px;
  text-shadow: var(--common-text-shadow-attr);
}
label {
  font-kerning: auto;
  color: #e7eff6;
  font-size: 20px;
  text-shadow: var(--common-text-shadow-attr);
}

input {
  flex: 1;
  display: inline-block;
  position: relative;
  padding: 1em;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-kerning: auto;
  font-size: 20px;
  text-shadow: var(--common-text-shadow-attr);
}

/* 'upper-menu' works as a fixed menu bar */
.upper-menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;

  /* Should match the one in 'app-container' */
  min-width: 20em;

  /* Arbitrary values */
  height: 4em;
  padding: 1em;

  display: flex;
  flex-flow: row nowrap;
  align-items: center;

  background-color: black;
  color: white;
}
/* Buttons with text */
.upper-menu > button[id$="-btn"] {
  flex: 1;
  text-align: center;
  height: inherit;
  color: white;
  font-size: var(--common--button-font-size);
  text-shadow: var(--common-text-shadow-attr);
  border: none;
  border-right: : 0.1em solid #63ace5;
  background-color: var(--main-upper-menu-btn-color);
  /* padding: 0.1em 0.1em; */
}
.upper-menu > button[id$="-btn"]:hover {
  background-color: var(--main-upper-menu-btn-hover-color);
  color: var(--main-upper-menu-btn-color);
}

/* Buttons with icons */
.upper-menu > button[id$="-icon"] {
  background-color: #2a4d69;
  border: 0.5em solid #4b86b4;
  height: inherit;
  width: 7em;
}
.upper-menu > button[id$="-icon"]:hover {
  background-color: var(--main-button-hover-color);
  background-color: var(--main-upper-menu-btn-hover-color);
}

.upper-menu .modal {
  visibility: hidden; /* Initial value */
}
.upper-menu .modal-content {
  visibility: hidden; /* Initial value */
}

/* Game selector */
.game-selector {
  display: flex;
  flex-flow: wrap;
  align-content: center;
  text-align: center;
  margin: 1em;
  padding: 1em;
}

.game-selector label {
  flex-grow: 1;
  padding: 0.5em;
  margin: 1em;
  width: 3.5em;
  background-color: #6f767a;
  border-radius: 8px;
  transition: all 0.3s;
}
.game-selector input[type="radio"]{
  display: none;
  border: 0.2em solid #8f9799;
  background-color: #6f767a;
  border-radius: 8px;
}
.game-selector input[type="radio"]:checked + label {
  color: black;
  border: solid #3bbb48;
  background-color: #04f263;
  border: 0.2em solid #8f9799;
  border-radius: 8px;
}

/* Login form */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.login-form > button {
  display: block;
  font-size: var(--common--button-font-size);
  text-shadow: var(--common-text-shadow-attr);
  background-color: var(--main-button-color);
  border: 0.2em solid #63ace5;
  margin: 1em auto 1em auto; /* top and bottom only */
  height: inherit;
  align-content: center;
  width: 100%;
  min-height: 3em;
  text-align: center;
  padding: 1em 1em;
  border-radius: 8px; /* For rounded button */
}
