/*
'Number 3', blueish palette, Digital synopsis
#2a4d69
#4b86b4
#adcbe3
#e7eff6
#63ace5
*/
:root {
  --main-bg-color: #adcbe3;
  --main-body-color: #2a4d69;
  --main-body-border-attr: 1px solid #4b86b4;
  --main-button-color: #adcbe3;
  --main-button-hover-color: #e7eff6;
  --common-text-shadow-attr: 0px 0px 1px #63ace5;
}

html {
  background-color: var(--main-bg-color);
}

body {
  font-size: 20px;
  min-width: 20em;
  max-width: 40em;
  margin: 0 auto;
  background-color: var(--main-body-color);
  padding: 0 1em 1em 1em;
  border: var(--main-body-border-attr);
}

/* Common properties*/
h1, h2, h3, h4, h5, h6, p, li {
  font-kerning: auto;
  color: #e7eff6;
  font-size: 20px;
  text-shadow: var(--common-text-shadow-attr);
}

.upper-select {
  position: sticky;
  top: 0;
  height: 3em;
  width: 100%;
  display: inline-block;
}

.upper-select > button {
  background-color: var(--main-button-color);
  border: 0.1em solid #63ace5;
  border: none;
  margin: none;
  height: inherit;
  align-content: center;
  min-width: 32.9%;
  max-width: 33.33%;
  text-align: center;
  /* padding: 0.1em 0.1em; */
}
.upper-select > button:hover {
  background-color: var(--main-button-hover-color);
}

/* Character data */
#character-main-secs > button {
  display: block;
  background-color: var(--main-button-color);
  border: 0.2em solid #63ace5;
  margin: 1em 0 1em 0; /* top and bottom only */
  height: inherit;
  align-content: center;
  width: 100%;
  text-align: center;
  padding: 1em 1em;
}


.contacts {

}
.contacts > h2 {
  border-style: solid;
  border-width: 0.1em;
  text-align: center;
}
.contacts #cont-name {
  border-style: solid;
  border-width: 0.1em;
  padding: 0.2em;
}
#contacts-ulist > button {
  /* display: inline-block; */
  width: 100%;
  height: 3em;
}
#contacts-ulist > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
  max-width: 30em;
  max-height: auto;
  border-radius: 8px; /* For rounded image */
}
