/* Used as base for 'dnd' and 'sh' */

/*
Inspiration and tips taken from
http://coderchronicles.org/2016/04/12/create-a-full-screen-layout-for-mobile-web-apps/
*/

/* Box layout model*/
html, body {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html {
  height: 100%;
  width: 100%;
  background-color: var(--main-bg-color);
}

body {
  font-size: var(--common-font-size);

  /* For pagers that might scroll */
  min-height: 100%;

  /* No unwanted scroll bars */
  margin: 0;
  padding: 0;

  /* Background should only be visible in larger screen devices (desktop etc.)
  and since body is as wide as html, is should be handled as (seen from visual
  perspective) html element */
  background-color: var(--main-bg-color);
}

#app-container {
  /* Block height is viewport height units -> screen height shown even if
  block doesn't contain that much material */
  min-height: 100vh;

  /* Center this block for larger screen devices (desktop etc.) */
  margin: 0 auto;

  /* For small windows */
  max-width: 31em;

  /* To prevent crushing when resizing to (too) small */
  min-width: 20em;

  padding: 1em;

  /* Top padding added so that fixed header won't cover stuff. Should be atleast
  as much as 'upper-menu's height */
  padding-top: 4em;

  /* As html and body element are same size, 'app-container' should be seen (from
  visual perspective) as 'the' body */
  background-color: var(--main-body-color);
}

/* Common text properties*/
h1, h2, h3, h4, h5, h6, p, li {
  font-kerning: auto;
  font-size: 20px;
  color: var(--TEXT);
  text-shadow: var(--common-text-shadow-attr);
}

/* 'upper-menu' works as a fixed menu bar */
.upper-menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;

  /* Should match the one in 'app-container' */
  min-width: 20em;

  /* Arbitrary values */
  height: 4em;
  padding: 1em;

  display: flex;
  flex-flow: row nowrap;
  align-items: center;

  background-color: black;
  border: 0.2em solid var(--main-upper-menu-icon-border-color);
  color: white;
}
/* Buttons with text */
.upper-menu > button[id$="-btn"] {
  flex: 1;
  text-align: center;
  height: inherit;
  color: white;
  font-size: var(--common--button-font-size);
  text-shadow: var(--common-text-shadow-attr);
  border: 0.2em solid var(--main-upper-menu-icon-border-color);
  border-left: none;
  border-right: none;
  background-color: var(--main-upper-menu-btn-color);
  /* padding: 0.1em 0.1em; */
}
.upper-menu > button[id$="-btn"]:hover {
  background-color: var(--main-upper-menu-btn-hover-color);
  color: var(--main-upper-menu-btn-color);
}

/* Buttons with icons */
.upper-menu > button[id$="-icon"] {
  background-color: var(--main-upper-menu-icon-color);
  border: 0.2em solid var(--main-upper-menu-icon-border-color);
  height: inherit;
  width: 7em;
}
.upper-menu > button[id$="-icon"]:hover {
  background-color: var(--main-button-hover-color);
  background-color: var(--main-upper-menu-btn-hover-color);
}


/* Character data */
#character-main-secs > button {
  display: block;
  font-size: var(--common--button-font-size);
  text-shadow: var(--common-text-shadow-attr);
  background-color: var(--main-button-color);
  border: 0.2em solid var(--EFFECT);
  margin: 1em auto 1em auto; /* top and bottom only */
  height: inherit;
  align-content: center;
  width: 100%;
  min-height: 3em;
  text-align: center;
  padding: 1em 1em;
  border-radius: 8px; /* For rounded button */
}

/* Character attribute modifiers */
.string-modifier, .number-modifier { /* Common attributes */
  display: flex;
  border: solid black;
  background-color: var(--attr-bg-color);
  border-radius: 4px;
  margin: 0.1em;
  max-height: 4em;
  align-items: center;
}
.string-modifier > p, .number-modifier > p {
  font-size: 28px;
  color: black;
  text-shadow: blueviolet;
  padding-left: 4%;
  min-width: 50%;
}
.string-modifier > label, .number-modifier > label {
  align-content: center;
  height: inherit;
  width: auto;
  min-width: 50%;
  min-height: 80%;
}
.string-modifier > label > input {
  height: 90%;
  width: 100%;
  min-width: auto;
  min-height: inherit;
  font-size: 1.1em;
  text-align: center;
  border-radius: 10px;
}
.number-modifier > label > input {
  height: 90%;
  width: 100%;
  min-width: auto;
  font-size: 1.5em;
  text-align: center;
  border-radius: 10px;
}


.contacts {
  margin: none;
  padding: none;
}
.contacts > ul {
  display: inline;
}
.contacts > h1, h2 {
  border-style: solid;
  font-size: 2em;
  border-width: 0.1em;
  border-radius: 8px; /* For rounding  */
  text-align: center;
  margin: 3em 0 1em 0;
}

#contacts-ulist > button {
  display: block;
  font-size: var(--common--button-font-size);
  text-shadow: var(--common-text-shadow-attr);
  background-color: var(--main-button-color);
  border: 0.2em solid var(--EFFECT);
  margin: 1em auto 1em auto; /* top and bottom only */
  height: inherit;
  align-content: center;
  width: 100%;
  min-height: 3em;
  text-align: center;
  padding: 1em 1em;
  border-radius: 8px; /* For rounded button */
}
#contacts-ulist > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 0em;
  max-width: 28em;
  max-height: auto;
  border-radius: 8px; /* For rounded image */
}

.static-footer {
  position: static;
  left: 0;
  bottom: 0;
  width: 100%;
  min-height: 2em;
  background-color: red;
  color: white;
  text-align: center;
}
